/* General */
* {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background-color: #757575;
  border: 2px solid #000000;
  font-size: 12px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}

.msg {
  color: #ffffff;
  background-color: #757575;
  border: 2px solid #000000;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

#info-container .already-joined-msg {
  margin: 15px 0;
  color: #ffffff;
  background-color: #757575;
  border: 2px solid #000000;
  padding: 10px;
  width: 275px;
}

/* navbar */
#navbar img {
  width: 25%;
}

#navbar {
  justify-content: space-between;
  background-color: #FFF;
  padding: 5px 0;
  position: relative;
  width: 100%;
}

#navbar a {
  font-size: 14px;
  color: #000000;
  font-weight: 900;
}

#navbar a:hover {
  color: #757575;
}

/* Search Container */
#search-container {
  background-image: url("https://rtec84.s3.amazonaws.com/php1/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#search-container h1 {
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 24px;
}

#search-container form {
  width: 50%;
  margin: 0 auto;
}

/* Events list */
#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
}

#cards-container {
  display: flex;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 14px;
  font-weight: bold;
  color: #757575;
}

.card .card-title {
  color: #212121;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants {
  font-size: 14px;
  font-weight: bold;
  color: #757575;
}

/* Event create page */
#event-create-container {
  padding: 30px
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 14px;
}

/* Event page */
#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
}

#info-container h1 {
  font-size: 18px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 14px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 16px;
  color: #000000;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 14px 0;
}

#items-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

#items-list li {
  display: flex;
}

#description-container {
  margin-top: 30px;
  font-size: 14px;
}

/* Dashboard */
.dashboard-title-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.dashboard-events-container th {
  width: auto;
}

.dashboard-events-container form {
  display: inline-block;
}

/* Edit page */

.img-preview {
  width: 100px;
  margin-top: 20px;
}

/* footer */
footer {
  text-align: center;
  background-color: #757575;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

footer {
  background-color: #333;
  position: fixed;
  width: 100%;
}

.rtec a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
}

.rtec a:hover {
  background-color: #ddd;
  color: black;
}

.btn-floating .fab,
.btn-floating .far,
.btn-floating .fas {
    width: 2.3125rem;
    line-height: 2.3125rem;
    font-size: xx-large;
}

.mb-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px !important;
}